$font-stack: OpenSans, Merriweather, sans-serif;
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Merriweather-Regular.ttf);
}
@font-face{
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
}


body {
  font-family: $font-stack;
  #logo {
    width: 10rem;
  }
  .container {
    img {
      width: 20rem;
    }
  }
}
